a {
    color: white;
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
}

/*span {
    color: #a5b4fc;
}*/

/*em {
  
}*/

ul {
  font-size: 1em;
  font-family: "Manrope", sans-serif;
}

h1 {
  color: #a5b4fc;
  font-size: 3.5em;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.1em;
  font-family: "Manrope", sans-serif;
}

.class {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}