a {
    color: white;
    font-size: 1em;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
}

/*span {
    color: #a5b4fc;
}*/

/*em {
  
}*/

ul {
  font-size: 1em;
  font-family: "Manrope", sans-serif;
}

h1 {
  color: #a5b4fc;
  font-size: 3.5em;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.1em;
  font-family: "Manrope", sans-serif;
}

h1, p {
  color: #ff1493;
}
h1, p {
  color: rgb(255, 20, 147);
}

a:hover {
  text-decoration: "underline"; 
}

a[class="cta"]:hover {
  background: linear-gradient(90deg, #696484, #8788ba);
}

img:hover {
  opacity: 0.5;
}